{% extends "web_templates/base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
   <h2>Nearly Finished</h2>
   <p>We need to validate your email address. We have sent you a email that you must respond to before your registration is complete.</p>
   <p>The email should be with you in a few minutes. Please check your inbox and click the link in the email.</p>
   <p>If you don't receive the email please check your junk mail folder. If it isn't there try registering again as you may have typed your address wrongly.</p>  
{% endblock %}
