{% extends "email_templates/base.html" %}
{% block content %}

    <p>This is the Mindfulness Training offered for you to reflect on this week.</p>
    
    <hr/>
   
   <h1 style="font-size: 130%; font-family:Georgia, serif; " >Nourishment and Healing</h1>
   <i>
   <p>Aware of the suffering caused by unmindful consumption, I am committed to cultivating good health, both physical and mental, for myself, my family, and my society by practising mindful eating, drinking, and consuming.</p>
   <p>I will practise looking deeply into how I consume the Four Kinds of Nutriments, namely edible foods, sense impressions, volition, and consciousness.</p>
   <p>I am determined not to gamble, or to use alcohol, drugs, or any other products which contain toxins, such as certain websites, electronic games, TV programs, films, magazines, books, and conversations.</p>
   <p>I will practise coming back to the present moment to be in touch with the refreshing, healing and nourishing elements in me and around me, not letting regrets and sorrow drag me back into the past nor letting anxieties, fear, or craving pull me out of the present moment.</p>
   <p>I am determined not to try to cover up loneliness, anxiety, or other suffering by losing myself in consumption. I will contemplate interbeing and consume in a way that preserves peace, joy, and well-being in my body and consciousness, and in the collective body and consciousness of my family, my society and the Earth.</p>
   </i>
   
   <hr/>
   
{% endblock %}
