{% extends "email_templates/base.html" %}
{% block content %}

    <p>This is the Mindfulness Training offered for you to reflect on this week.</p>
    
    <hr/>
   
   <h1  style="font-size: 130%; font-family:Georgia, serif; "  >Loving Speech and Deep Listening</h1>
   <i>
   <p>Aware of the suffering caused by unmindful speech and the inability to listen to others, I am committed to cultivating loving speech and compassionate listening in order to relieve suffering and to promote reconciliation and peace in myself and among other people, ethnic and religious groups, and nations.</p>
   <p>Knowing that words can create happiness or suffering, I am committed to speaking truthfully using words that inspire confidence, joy, and hope.</p>
   <p>When anger is manifesting in me, I am determined not to speak. I will practise mindful breathing and walking in order to recognize and to look deeply into my anger. I know that the roots of anger can be found in my wrong perceptions and lack of understanding of the suffering in myself and in the other person. I will speak and listen in a way that can help myself and the other person to transform suffering and see the way out of difficult situations.</p>
   <p>I am determined not to spread news that I do not know to be certain and not to utter words that can cause division or discord.</p>
   <p>I will practise Right Diligence to nourish my capacity for understanding, love, joy, and inclusiveness, and gradually transform anger, violence, and fear that lie deep in my consciousness.</p>
   </div>
   
   </i>
   <hr/>
   
{% endblock %}
